
html {
    font-size: 20px;
}

/** Sidhuvud*/
.site-header {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        " L M ";
}
.site-navigation {
    display: block;
    justify-self: end;

}
.menu {
    flex-direction: row;
}
.toggle-btn {
    display: none;
}

